bin/
.DS_Store
*.log
*.tmp
*.exe
*.out
*.dll
*.so
*.dylib
data/
logs/
images/
target/
config.yml
superpowers/
.superpowers/
.codegraph/
.vscode/
data/
.worktrees/
plans/
web/node_modules/
web/dist/
internal/api/v1/system/frontend/
__debug_bin*